.title {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

.journal-textarea {
  flex: 1 !important;
  display: flex !important;
  flex-direction: column !important;
}

.rating-card {
  border: calc(0.0625rem * var(--mantine-scale)) solid var(--mantine-color-default-border) !important;
}

.journal-textarea .mantine-Textarea-wrapper {
  flex: 1 !important;
  display: flex !important;
  flex-direction: column !important;
}

.journal-textarea .mantine-Textarea-input,
.journal-textarea textarea {
  flex: 1 !important;
  min-height: 200px !important;
  resize: none !important;
}

.journal-textarea textarea::-webkit-scrollbar,
.journal-textarea .mantine-Textarea-input::-webkit-scrollbar {
  width: 15px;
  border-radius: 1rem !important;
  margin-right: 10px !important;
}

/* Light theme scrollbar */
[data-mantine-color-scheme="light"] .journal-textarea textarea::-webkit-scrollbar-track,
[data-mantine-color-scheme="light"] .journal-textarea .mantine-Textarea-input::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 1rem !important;
}

[data-mantine-color-scheme="light"] .journal-textarea textarea::-webkit-scrollbar-thumb,
[data-mantine-color-scheme="light"] .journal-textarea .mantine-Textarea-input::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 1rem !important;
}

[data-mantine-color-scheme="light"] .journal-textarea textarea::-webkit-scrollbar-thumb:hover,
[data-mantine-color-scheme="light"] .journal-textarea .mantine-Textarea-input::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Dark theme scrollbar */
[data-mantine-color-scheme="dark"] .journal-textarea textarea::-webkit-scrollbar-track,
[data-mantine-color-scheme="dark"] .journal-textarea .mantine-Textarea-input::-webkit-scrollbar-track {
  background-color: #2e2e2e;
  border-radius: 1rem !important;
}

[data-mantine-color-scheme="dark"] .journal-textarea textarea::-webkit-scrollbar-thumb,
[data-mantine-color-scheme="dark"] .journal-textarea .mantine-Textarea-input::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 1rem !important;
}

[data-mantine-color-scheme="dark"] .journal-textarea textarea::-webkit-scrollbar-thumb:hover,
[data-mantine-color-scheme="dark"] .journal-textarea .mantine-Textarea-input::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}

body{
  background: linear-gradient(to top, #75b2bc44,  #00000000) !important;
}

.settings-icon {
  position: fixed;
  bottom: 1em;
  right: 1em;
  font-size: 1.5em;
  color: #888888aa;
}

.settings-icon:hover {
  color: #888888ff;
  cursor: pointer;
}

.hidden {
  display: none;
}